<div class="row">
  <div class="row search_sec">
    <div class="contain">
      <h2><b>IP Address Tracker</b></h2>

      <div class="input-group md-3">
        <input
          type="text"
          class="form-control rounded"
          placeholder="eg: 8.8.8.8"
          [(ngModel)]="ipAddress"
        />
        <button
          class="btn md-3 btn-search"
          type="button"
          (click)="getIpDetail()"
        >
          <img src="../assets/images/icon-arrow.svg" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="card-contain">
    <div class="card rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h3>IP ADDRESS</h3>
            <p>{{ ipDetail?.ip }}</p>
          </div>
          <div class="col-md-3">
            <h3>LOCATION</h3>
            <p>
              {{ ipDetail?.location?.country }},{{ ipDetail?.location?.city }}
            </p>
          </div>
          <div class="col-md-3">
            <h3>TIME ZONE</h3>
            <p>{{ ipDetail?.location?.timezone }}</p>
          </div>
          <div class="col-md-3">
            <h3>ISP</h3>
            <p>{{ ipDetail?.isp }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <app-map [location]="location"></app-map>
  </div>
</div>
