<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 vertical_line">
          <h3>IP ADDRESS</h3>
          <p>{{ ipDetail?.ip }}</p>
        </div>
        <div class="col-md-3 vertical_line">
          <h3>LOCATION</h3>
          <p>
            {{ ipDetail?.location?.country }},{{ ipDetail?.location?.city }}
          </p>
        </div>
        <div class="col-md-3 vertical_line">
          <h3>TIME ZONE</h3>
          <p>{{ ipDetail?.location?.timezone }}</p>
        </div>
        <div class="col-md-3">
          <h3>ISP</h3>
          <p>{{ ipDetail?.isp }}</p>
        </div>
      </div>
    </div>
  </div>